<section class="bg-teal padding-top-2rem padding-bottom-4rem">
  <div class="container">
    <h2 class="text-center text-color-darkest">Hearing is Believing</h2>
    <hr>
    <div class="text-medium text-center margin-bottom-1rem">
      <em>The songs below were all performed by the talented musicians in our network!</em>
    </div>
    <div class="row">
      <div class="col-md-6 margin-top-2rem">
        <div class="audio-box padding-10px light-hover-shadow text-center bg-light">
          <div class="text-medium text-color-darkest">Caravan</div>
          <audio controls>
            <source src=<%= audio_path 'caravan_tizol.mp3' %> type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
        </div>
      </div>
      <div class="col-md-6 margin-top-2rem">
        <div class="audio-box padding-10px light-hover-shadow text-center bg-light">
          <div class="text-medium text-color-darkest">Fidgety Feel</div>
          <audio controls>
            <source src=<%= audio_path "fidgety_feel_larocca_shields.mp3" %> type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 margin-top-2rem">
        <div class="audio-box padding-10px light-hover-shadow text-center bg-light">
          <div class="text-medium text-color-darkest">Diga Diga Do</div>
          <audio controls>
            <source src="<%= audio_path 'diga_diga_do_fields_mchugh.mp3' %>" type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
        </div>
      </div>
      <div class="col-md-6 margin-top-2rem">
        <div class="audio-box padding-10px light-hover-shadow text-center  bg-light">
          <div class="text-medium text-color-darkest">It Had To Be You</div>
          <audio controls>
            <source src=<%= audio_path('it_had_to_be_you.mp3') %> type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
        </div>
      </div>
    </div>
  </div>
</section>
