<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">What is Boston Jazz Gigs?</h4>
      </div>
      <div class="modal-body">
        <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id nunc commodo, aliquet libero at, cursus nisl. Proin sit amet est sapien. Donec elit arcu, consectetur laoreet rutrum eu, luctus et urna. Nam non felis posuere, porta odio eu, fermentum urna. Maecenas eros nibh, porttitor nec orci id, ultricies condimentum ipsum. Maecenas imperdiet pellentesque tortor, sed aliquet neque suscipit vel. Nunc iaculis ullamcorper lobortis. Nunc neque velit, vehicula varius justo at, suscipit dapibus purus. Suspendisse sed egestas arcu. Nunc nec diam sed augue tincidunt tempus. Praesent scelerisque nisi diam, ac venenatis felis bibendum ac.

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
