<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <br>
      <h2 class="title text-center section-title-text2">Don't take our word for it!</h2>
    </div>
  </div>
</aside>
<section class="section testimonials">
  <div class="container">
    <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#testimonials-carousel" data-slide-to="1"></li>
        <li data-target="#testimonials-carousel" data-slide-to="2"></li>
      </ol>
      <!--//carousel-indicators-->
      <div class="carousel-inner">
        <div class="item active">
          <figure class="profile"><img class="img-circle" src=<%= asset_path("testimonials/hayley.jpg") %> alt=""/></figure>
          <div class="content">
            <blockquote>
              <i class="fa fa-quote-left"></i>
              <p>
                David put together an outstanding trio at a reasonable price for our new gallery opening.
                The guests loved the band, and I would definitely work with him again!
              </p>
            </blockquote>
            <p class="source">Hayley Didriksen<br/>
              <span class="title">Senior Visionary @ HDStudios</span>
            </p>
              <br>
          </div>
          <!--//content-->
        </div>
        <!--//item-->
        <div class="item">
          <figure class="profile"><img class="img-circle" src=<%= asset_path("testimonials/drew.jpg")%> alt=""/></figure>
          <div class="content">
            <blockquote>
              <i class="fa fa-quote-left"></i>
              <p>
                Boston Jazz Gigs saved my third marriage - unbelievable service with style!
                <br>
                &nbsp
              </p>
            </blockquote>
            <p class="source">Drew 'Pito' Didriksen<br/>
              <span class="title">CEO, Pito's Pitas</span>
            </p>
            <br>
          </div>
          <!--//content-->
        </div>
        <!--//item-->
        <div class="item">
          <figure class="profile"><img class="img-circle" src=<%= asset_path("testimonials/deej.jpg") %> alt=""/></figure>
          <div class="content">
            <blockquote>
              <i class="fa fa-quote-left"></i>
              <p>
                OMG YES!
                <br>
                &nbsp
              </p>
            </blockquote>
            <p class="source">Djaniele Taylor<br/>
              <span class="title">VIP, Chuck E. Cheese's</span>
            </p>
            <br>
          </div>
          <!--//content-->
        </div>
        <!--//item-->
      </div>
      <!--//carousel-inner-->
    </div>
    <!--//carousel-->
  </div>
</section>
