<header>
  <div class="header-content">
    <div class="header-content-inner">
      <div class="shade-box-m">
        <h1 id="home-heading" class="page-heading">Boston Jazz Gigs</h1>
        <hr>
        <h2 class="text-ml margin-bottom-2rem">Find and book greater Boston's best Jazz musicians for your next event!</h2>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Let's get started!</a>
      </div>
    </div>
  </div>
</header>

<div id="about">
  <%= render partial: 'about' %>
</div>

<div id="demo-songs">
  <%= render partial: 'demo_songs' %>
</div>

<section id="contact">
  <%= render partial: 'contact_form' %>
</section>
