<h1>Question from Boston Jazz Gigs</h1>
<div>You have received a new general inquiry from the Boston Jazz Gigs home page.</div>
<ul>
  <li><strong>From:</strong> <%= @request.name %></li>
  <li><strong>Email:</strong> <%= @request.email %></li>
  <li><strong>Phone:</strong> <%= @request.phone %></li>
  <li><strong>Message:</strong> <%= @request.message %></li>
</ul>
