Hello <%= @request.name.split(" ")[0].titleize %>,
<br><br>
Thank you for visting Boston Jazz Gigs! I wanted to confirm that your message in under review and I will contact you soon to discuss your questions or concerns.
<br><br>
If you have any other questions in the meantime, please feel free to send a message to bostonjazzgigs@gmail.com.
<br><br><br>
Best regards,
<br>
David Didriksen
<br><br>
Boston Jazz Gigs
<br>
bostonjazzgigs@gmail.com
<br>
<a href="http://www.bostonjazzgigs.com">www.bostonjazzgigs.com</a>
<br>
<br>
