<footer class="footer container">
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contact", '/#contact' %></li>
    </ul>
  </nav>

  <small>
    <a href="http://www.bostonjazzgigs.com/">BostonJazzGigs</a>
    updated June 2017 by <a href="http://about.jjanelle.me/">Figlet Studios</a>
  </small>
</footer>
