<footer class="footer container padding-top-1rem padding-bottom-2rem">
  <nav>
    <ul class = "text-heavy footer-links" >
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contact", '/#contact' %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>
    </ul>
  </nav>

  <small>
    <a href="http://www.bostonjazzgigs.com/">BostonJazzGigs</a>
    updated June 2017 by <a href="http://about.jjanelle.me/">Figlet Studios</a>
  </small>
</footer>
