<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div style="border:1px solid #F05F40;border-top-left-radius:5px;border-top-right-radius:5px;">
      <div style="height:50px;background: #F05F40;color: #FFFFFF;padding-top:10px; margin-bottom:5px;border-top-left-radius:5px;border-top-right-radius:5px;font-size:2rem;text-align:center;">Boston Jazz Gigs</div>
      <div style="padding:10px 10px 20px 10px;">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
